.buy_now {
  background-color: #dcfce7;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  position: absolute;
}

/* .buy-now::after {
  content: "";
  position: absolute;
  border-radius: 100px;
  top: 7%;
  left: 3%;
  width: 94%;
  height: 86%;
  background-color: white;
} */
