.title {
  position: relative;
  font-weight: bold;
  color: #e15910;
  font-size: 20px;
  margin-bottom: -5px;
}

.title::after {
  content: "";
  position: absolute;
  left: -1.4%;
  bottom: -5px;
  width: 102%;
  height: 5px;
  background-color: #e15910;

  clip-path: polygon(0.5% 0%, 99.5% 0%, 100% 100%, 0% 100%);
}
