@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/font/Inter-VariableFont_opsz,wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space grotesk";
  src: url("/font/SpaceGrotesk-VariableFont_wght.ttf");
}

.Space {
  font-family: "Inter", Arial;
}

:root {
  --blue-main: #a9b9f8;
  --input-fill: #f3f5f6;
  --button-fill: #667eea;
}

body {
  background: var(--blue-main);
  font-family: "Inter", sans-serif;
}
